<!doctype html>
<html lang="en">
    <head>    
        
        <title>{% assign title_is_not_empty = page.title | is_not_empty %}{% if title_is_not_empty %}{{ page.title }} | {% endif %}{{ site.title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="{{ page.excerpt | default: site.description }}"/>
        <link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}">
        <meta name="apple-itunes-app" content="app-id=1538268059, app-clip-bundle-id=io.aben.Metronome.Clip" />
        <meta property="og:title" content="Metronome" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:description" content="Metronome in your pocket." />
        <link rel="canonical" href="https://metronome.aben.io/appclips" />
        <meta property="og:url" content="https://metronome.aben.io/appclips" />
        <meta property="og:site_name" content="Metronome" />
        <script type="application/ld+json">
            {"@type":"WebPage","headline":"Metronome","url":"https://metronome.aben.io/appclips.html","description":"Metronome in your pocket.","@context":"https://schema.org"}
        </script>
    </head>
    <body>
        
        {{ content }}
        <script src="{{ 'assets/js/init.js' | relative_url }}"></script>
        <script src="{{ 'assets/js/page-load.js' | relative_url }}"></script>
    </body> 
</html>
